.services-desc {
    padding-bottom: 120px;
    padding-top: 120px;
}
.services-boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 120px;
}
.services-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}
.box-text-btn {
    width: 575px;
    height: 268px;

}
.box-text-btn  h3{
    color: rgb(30, 33, 44);
    font-size: 32px;
    font-weight: 700;
    line-height: 150%;
    text-align: left;
    margin-bottom: 24px;
}
.box-text-btn p {
    /* base/regular */
    color: rgb(120, 122, 128);
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    text-align: left;
    margin-bottom: 48px;
}
.box-text-btn button {
    box-sizing: border-box;
    /* primary */
    border: 1px solid rgb(255, 90, 48);
    border-radius: 4px;
    padding: 0px 32px 0px 32px;
    color: rgb(255, 90, 48);
    font-size: 14px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}