.news-home {
    background-image: url("./news-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
    width: 100%;
    /*height: 100%;*/
    display: flex;
    justify-content: right;
}